/*All Pages*/

.pages{
}
/*Navigation bar*/
#nav-links{
  display: none;
}

/*Welcome Page*/
#elearn{
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*Image Captions*/
.captions{
  text-align: center;
  color: darkred;
}

/*Partners*/
#partners{
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
}

.single-partner{
width: 70px;
}
/*Buttons*/
#join{
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: green;
  color: white;
  width: 40vw;
  font-size: medium;
  border: none;
}

/*Footer*/
footer{
  background-color: black;
  color: white;
}
footer, h1 {
  text-align: center;
}
#footer-icon-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
    font-size:xx-small;

  }
/*Tablet View*/

@media screen and (min-width:500px){


}

/*Desktiop View*/
@media screen and (min-width:700px){
/*Footer*/

    footer{
    display: flex;
    flex-direction: row;
    justify-content:space-around ;

  }
  .footer-icon{
    display: none;
    

  
  }
  
}